@import "../variable.scss";

.landingPageSection {

    .mainEventsContainer {
        background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgb(10 10 10) 100%),
        url("#{$images}/landing_background.png") no-repeat center center/cover;
        width: 100%;
        height: 100vh;

        .mainEvents {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            height: 100%;

            span {
                color: white;
                text-align: center;
                font-size: 15px;
                margin-bottom: 2rem;
            }

            .eventTitle {
                font-family: 'Gaegu', 'serif';
                font-size: 40px;
                font-weight: bold;
                margin: 0;
            }

            .ticketButton {
                background: linear-gradient(45deg, #F8BD00, #926F00);
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                color: white;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                font-size: 20px;
            }

            .ticketButton:hover {
                background: linear-gradient(45deg, #926F00, #F8BD00);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
                transform: translateY(-4px);
            }
        }
    }

    .categorySection {
        width: 100%;
        margin: 2rem auto;
        padding: 2rem 5rem;

        .categoryContainer {
            width: 100%;
            height: 100%;
            padding: 1rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5rem;

            .categoryList {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .categoryCard {
                    width: calc((100% - 8rem) / 8);
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    min-height: 150px;
                    position: relative;
                    text-align: center;
                    background-color: white;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50%;
                        height: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }

                    &.concert {
                        background-color: rgb(0, 153, 255);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/rock-music.png") no-repeat center center / cover;
                        }
                    }

                    &.theater {
                        background-color: rgb(143, 0, 0);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/3d-glasses.png") no-repeat center center / cover;
                        }
                    }

                    &.festival {
                        background-color: rgb(255, 255, 255);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/circus-tent.png") no-repeat center center / cover;
                        }
                    }

                    &.art {
                        background-color: rgb(239, 233, 48);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/paint-palette.png") no-repeat center center / cover;
                        }
                    }

                    &.sport {
                        background-color: rgb(107, 216, 53);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/football2.png") no-repeat center center / cover;
                        }
                    }

                    &.business {
                        background-color: rgb(230, 132, 66);

                        &::before {

                            background: url("https://img.icons8.com/3d-fluency/94/analytics.png") no-repeat center center / cover;
                        }
                    }

                    .categoryCardDescription {
                        font-size: 15px;
                        font-weight: bold;
                        margin-top: auto;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .listTicketContainer {
        width: 100%;
        height: 100%;
        min-height: 250px;
        padding: 2rem 5rem;
        margin: auto;

        .listTicket {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            .cardContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;
                z-index: -1;

                .card {
                    width: calc((100% - 6rem) / 4);
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    min-height: 350px;
                    position: relative;
                    text-align: center;

                    &::before {
                        content: '';
                        background: url("../../../images/nirvana_poster.png") no-repeat center center/cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 20px;
                    }

                    .cardContent {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        gap: 1rem;
                        margin-top: auto;

                        p {
                            margin: 0;
                            font-size: 14px;
                        }

                        .ticketButtonCard {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .landingPageSection {
        .listTicketContainer {
            padding: 1rem 2rem;

            .listTicket {
                .cardContainer {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}