@import "../variable.scss";

.landingPageSection {

    .mainEventsContainer {
        background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgb(10 10 10) 100%),
        url("#{$images}/landing_background.png") no-repeat center center/cover;
        width: 100%;
        height: 100vh;

        .mainEvents {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            height: 100%;

            span {
                color: white;
                text-align: center;
                font-size: 15px;
                margin-bottom: 2rem;
            }

            .eventTitle {
                font-size: 50px;
                font-weight: bold;
                margin-bottom: .5rem;
            }

            .searchContainer {
                position: relative;
                width: 50%;
                max-width: 500px;

                .searchInput {
                    border: none;
                    border-radius: 10px;
                    padding: 1rem;
                    width: 100%;
                    background: white;
                    color: black;
                    overflow: hidden;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        width: max-content;
                    }

                }

                &::after {
                    content: "";
                    background: url("https://cdn-icons-png.flaticon.com/512/149/149852.png") no-repeat center center / cover;
                    position: absolute;
                    right: 1rem;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

        }
    }

    .categorySection {
        width: 100%;
        margin: 2rem auto;
        padding: 2rem 5rem;

        .categoryContainer {
            width: 100%;
            height: 100%;
            padding: 1rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1.5rem;

            .categoryList {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                flex-wrap: wrap;
                z-index: -1;

                .categoryCard {
                    width: calc((100% - 6rem) / 6);
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    position: relative;
                    align-items: center;
                    gap: .5rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &.concert {
                        background: linear-gradient(159deg, #e17016, #063771);
                    }

                    &.theater {
                        background: linear-gradient(159deg, #a80000, #005503);
                    }

                    &.festival {
                        background: linear-gradient(159deg, #d3008d, #0f16f3);
                    }

                    &.art {
                        background: linear-gradient(159deg, #0363e7, #8e9c00);
                    }

                    &.sport {
                        background: linear-gradient(159deg, #e0b600, #2c8902);
                    }

                    &.business {
                        background: linear-gradient(159deg, #429ee6, #8f2828);
                    }

                    img {
                        width: 100px;
                        transition: all 0.2s ease-in-out;
                    }

                    .categoryCardDescription {
                        font-size: 15px;
                        font-weight: bold;
                        margin-top: auto;
                    }

                    &:hover {
                        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
                        transform: translateY(-4px);

                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .listTicketContainer {
        width: 100%;
        height: 100%;
        min-height: 250px;
        padding: 2rem 5rem;
        margin: auto;

        .listTicket {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding: 1.5rem;
            gap: 1rem;

            .cardContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;
                z-index: -1;

                .card {
                    width: calc((100% - 6rem) / 4);
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    min-height: 350px;
                    position: relative;
                    text-align: center;

                    &::before {
                        content: '';
                        background: url("../../../images/nirvana_poster.png") no-repeat center center/cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 20px;
                    }

                    .cardContent {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        gap: 1rem;
                        margin-top: auto;

                        p {
                            margin: 0;
                            font-size: 14px;
                        }

                        .ticketButtonCard {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .landingPageSection {
        .mainEventsContainer {
            .mainEvents {
                .searchContainer {
                    width: 100%;
                    max-width: 300px;
                }

            }
        }

        .categorySection {
            padding: 1rem;

            .categoryContainer {
                padding: 0;

                .categoryList {
                    .categoryCard {
                        width: calc((100% - 2rem) / 3);

                        img {
                            width: 75px;
                        }
                    }
                }
            }
        }

        .listTicketContainer {
            padding: 1rem 2rem;

            .listTicket {
                .cardContainer {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}