@import "../variable.scss";

.landingPageSection {

    .mainEventsContainer {
        background:url("#{$images}/landing_background.png") no-repeat center center/cover;
        width: 100%;
        height: 100vh;

        .mainEvents {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            height: 100%;

            span {
                color: white;
                text-align: center;
                font-size: 15px;
                margin-bottom: 2rem;
            }

            .eventTitle {
                font-family: 'Gaegu', 'serif';
                font-size: 40px;
                font-weight: bold;
                margin: 0;
            }

            .ticketButton {
                background: linear-gradient(45deg, #F8BD00, #926F00);
                border: none;
                border-radius: 20px;
                padding: 0.5rem 1rem;
                color: white;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                font-size: 20px;
            }

            .ticketButton:hover {
                background: linear-gradient(45deg, #926F00, #F8BD00);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
                transform: translateY(-4px);
            }
        }
    }

    .listTicketContainer {
        width: 100%;
        height: 100%;
        min-height: 250px;
        padding: 2rem 5rem;
        margin: auto;

        .listTicket {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .cardContainer {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;

                .card {
                    width: calc((100% - 6rem) / 4);
                    height: -webkit-fill-available;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    min-height: 350px;
                    position: relative;
                    text-align: center;

                    &::before {
                        content: '';
                        background: url("../../../images/nirvana_poster.png") no-repeat center center/cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 20px;
                    }

                    .cardContent {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        gap: 1rem;

                        p {
                            margin: 0;
                            font-size: 14px;
                        }

                        .ticketButtonCard {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .landingPageSection{
        .listTicketContainer{
            padding: 1rem 2rem;
            .listTicket{
                .cardContainer{
                    .card{
                        width: 100%;
                    }
                }
            }
        }
    }
}