@use "../variable" as *;

.bigContainer {
    padding: 1rem;
    margin-top: 5rem;

    .carouselContainer {
        display: flex;
        gap: 1rem;

        .card {
            background-color: $yellowOrange;
            padding: .5rem;
            color: black;
            border-radius: 10px;
            cursor: pointer;
            min-width: 50px;
            text-align: center;
        }
    }
}