@use "../variable" as *;

.bigContainer {
    padding: 1rem;
    margin-top: 5rem;

    .productContent {
        display: flex;
        gap: 1rem;
        height: 100%;

        .sortContainer {
            background-color: $darkRed;
            height: auto;
            width: 100%;
            padding: 1rem;
            border-radius: 5px;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            flex: 1;

            &.show{
                display: flex;
            }

            span {
                font-weight: bold;
                font-size: large;
                color: $yellowOrange;
            }

            .sortPrice {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                gap: .5rem;

                .slider {
                    height: 25px;
                    background-color: black;
                    outline: none;
                    opacity: 0.7;
                    transition: opacity .2s;
                    cursor: pointer;
                    width: 100%;
                    background: black;

                    &:hover {
                        opacity: 1;
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 18px;
                        height: 18px;
                        background: #ff6600;
                        border-radius: 50%;
                        border: 2px solid white;
                        cursor: pointer;
                    }

                    &::-webkit-slider-runnable-track {
                        background: black;
                        border-radius: 4px;
                    }
                }
            }

            .sortLocation {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                width: 100%;

                .checkboxContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    .checkbox {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: .2rem;
                        width: 100%;

                        label {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .productContainer {
            height: 100%;
            width: 100%;
            flex: 3;

            .carouselContainer {
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-bottom: 2rem;
                padding: 0 .5rem;

                .card {
                    background-color: $yellowOrange;
                    padding: .5rem;
                    color: black;
                    border-radius: 10px;
                    cursor: pointer;
                    text-align: center;
                    white-space: nowrap;
                    width: 100%;
                    min-width: 100px;

                    &:hover {
                        background-color: #EDCB7D;
                    }
                }
            }

            .cardContainer {
                width: 100%;
                height: 100%;
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;

                .card {
                    width: calc((100% - 4rem) / 3);
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    border-radius: 10px;
                    min-height: 350px;
                    position: relative;
                    text-align: center;
                    background-image: linear-gradient(to top, rgba(black, 0.8), transparent);

                    &::before {
                        content: '';
                        background: var(--image-url) no-repeat center center/cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        border-radius: 20px;
                    }

                    .cardContent {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        height: 100%;
                        gap: 1rem;
                        margin-top: auto;

                        p {
                            margin: 0;
                            font-weight: bold;
                            font-size: 14px;
                        }

                        .ticketButtonCard {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .bigContainer {
        .productContent {
            flex-direction: column;

            .productContainer {
                .carouselContainer {
                    overflow-x: scroll;
                    -ms-overflow-style: none;
                    /* IE and Edge */
                    scrollbar-width: none;
                    /* Firefox */

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .cardContainer {
                    .card {
                        width: 100%;
                    }
                }
            }
        }
    }
}