.bigContainer {
  padding: 1rem;
  margin-top: 5rem;
  height: 100vh;
}
.bigContainer .carouselContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.bigContainer .carouselContainer .card {
  background-color: #F8BD00;
  padding: 0.5rem;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
}
.bigContainer .carouselContainer .card:hover {
  background-color: #EDCB7D;
}
.bigContainer .productContent {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  height: 100%;
}
.bigContainer .productContent .sortContainer {
  background-color: #470202;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 250px;
}
.bigContainer .productContent .sortContainer span {
  font-weight: bold;
  font-size: large;
  color: #F8BD00;
}
.bigContainer .productContent .sortContainer .sortPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}
.bigContainer .productContent .sortContainer .sortPrice .slider {
  height: 25px;
  background-color: black;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
  width: 100%;
  background: black;
}
.bigContainer .productContent .sortContainer .sortPrice .slider:hover {
  opacity: 1;
}
.bigContainer .productContent .sortContainer .sortPrice .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #ff6600;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.bigContainer .productContent .sortContainer .sortPrice .slider::-webkit-slider-runnable-track {
  background: black;
  border-radius: 4px;
}
.bigContainer .productContent .sortContainer .sortLocation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.bigContainer .productContent .sortContainer .sortLocation .checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.bigContainer .productContent .sortContainer .sortLocation .checkboxContainer .checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
}
.bigContainer .productContent .sortContainer .sortLocation .checkboxContainer .checkbox label {
  font-size: 14px;
}
.bigContainer .productContent .productContainer {
  height: 100%;
  width: 100%;
  flex: 1;
}
.bigContainer .productContent .productContainer .cardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.bigContainer .productContent .productContainer .cardContainer .card {
  width: calc((100% - 6rem) / 4);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  min-height: 350px;
  position: relative;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.bigContainer .productContent .productContainer .cardContainer .card::before {
  content: "";
  background: var(--image-url) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 20px;
}
.bigContainer .productContent .productContainer .cardContainer .card .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 1rem;
  margin-top: auto;
}
.bigContainer .productContent .productContainer .cardContainer .card .cardContent p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.bigContainer .productContent .productContainer .cardContainer .card .cardContent .ticketButtonCard {
  width: 100%;
}