@import "../variable.scss";
$iconButton: (
    "google":"https://cdn-icons-png.flaticon.com/512/300/300221.png",
    "apple":"https://cdn-icons-png.flaticon.com/512/0/747.png"
);

.bigContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .containerForm {
        background-color: #8E1616;
        display: flex;
        align-items: center;
        padding: 2rem;
        border-radius: 20px;
        height: 600px;
        width: fit-content;
        min-width: 50%;
        gap: 3rem;

        .formLogin {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            min-width: 250px;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;

                span {
                    font-size: 12px;
                    text-align: center;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                .passwordWrapper {
                    width: 100%;
                    position: relative;

                    span {
                        position: absolute;
                        right: 5px;
                        top: 55%;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }

                input {
                    background-color: white;
                    color: black;
                    border-radius: 12px;
                    border: none;
                    padding: 7px 7px;
                    width: 100%;
                }

                input:focus {
                    outline: none;
                }

                input::placeholder {
                    margin-left: 1rem;
                }

                .forgotPassword {
                    text-decoration: underline;
                    cursor: pointer;
                    width: 100%;
                    text-align: right;
                    font-size: 10px;
                }

                .register {
                    width: 100%;
                    text-align: right;
                    font-size: 10px;
                }

                .submitButton {
                    background-color: #E4C479;
                    color: black;
                    border-radius: 12px;
                    border: none;
                    padding: 10px 7px;
                    cursor: pointer;
                    width: 100%;
                }

            }

            .quickLogin {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                width: 100%;

                .or {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    width: 100%;

                    hr {
                        flex: 1;
                        height: 1px;
                        background-color: white;
                    }

                    span {
                        font-size: 12px;
                        color: white;
                    }
                }

                @each $name, $icon in $iconButton {
                    button {
                        background-color: white;
                        color: black;
                        border-radius: 12px;
                        border: none;
                        padding: 10px 7px;
                        cursor: pointer;
                        width: 100%;
                        position: relative;

                        &.#{$name} {
                            &::after {
                                content: '';
                                position: absolute;
                                background: url($icon) no-repeat center center/cover;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

            }
        }

        .loketImage {
            flex: 1;
            height: 100%;
            width: 100%;
            display: block;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 720px) {
    .bigContainer {
        background: url("#{$images}/loket.png") no-repeat center center/cover;
        padding: 1rem;

        .containerForm {
            width: 100%;
            flex-direction: column;
            height: fit-content;
            border: 2px solid black;
            padding: 2rem;

            .formLogin {
                width: 100%;
                height: 100%;
            }

            .loketImage {
                display: none;
            }
        }
    }
}