.bigContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.bigContainer .containerForm {
  background-color: #8E1616;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  height: 600px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 50%;
  gap: 3rem;
}
.bigContainer .containerForm .formLogin {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 250px;
}
.bigContainer .containerForm .formLogin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.bigContainer .containerForm .formLogin form span {
  font-size: 12px;
  text-align: center;
}
.bigContainer .containerForm .formLogin form span img {
  width: 20px;
  height: 20px;
}
.bigContainer .containerForm .formLogin form .passwordWrapper {
  width: 100%;
  position: relative;
}
.bigContainer .containerForm .formLogin form .passwordWrapper span {
  position: absolute;
  right: 5px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}
.bigContainer .containerForm .formLogin form input {
  background-color: white;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 7px 7px;
  width: 100%;
}
.bigContainer .containerForm .formLogin form input:focus {
  outline: none;
}
.bigContainer .containerForm .formLogin form input::-moz-placeholder {
  margin-left: 1rem;
}
.bigContainer .containerForm .formLogin form input::placeholder {
  margin-left: 1rem;
}
.bigContainer .containerForm .formLogin form .forgotPassword {
  text-decoration: underline;
  cursor: pointer;
  width: 100%;
  text-align: right;
  font-size: 10px;
}
.bigContainer .containerForm .formLogin form .register {
  width: 100%;
  text-align: right;
  font-size: 10px;
}
.bigContainer .containerForm .formLogin form .submitButton {
  background-color: #E4C479;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 10px 7px;
  cursor: pointer;
  width: 100%;
}
.bigContainer .containerForm .formLogin .quickLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.bigContainer .containerForm .formLogin .quickLogin .or {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.bigContainer .containerForm .formLogin .quickLogin .or hr {
  flex: 1;
  height: 1px;
  background-color: white;
}
.bigContainer .containerForm .formLogin .quickLogin .or span {
  font-size: 12px;
  color: white;
}
.bigContainer .containerForm .formLogin .quickLogin button {
  background-color: white;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 10px 7px;
  cursor: pointer;
  width: 100%;
  position: relative;
}
.bigContainer .containerForm .formLogin .quickLogin button.google::after {
  content: "";
  position: absolute;
  background: url("https://cdn-icons-png.flaticon.com/512/300/300221.png") no-repeat center center/cover;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.bigContainer .containerForm .formLogin .quickLogin button {
  background-color: white;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 10px 7px;
  cursor: pointer;
  width: 100%;
  position: relative;
}
.bigContainer .containerForm .formLogin .quickLogin button.apple::after {
  content: "";
  position: absolute;
  background: url("https://cdn-icons-png.flaticon.com/512/0/747.png") no-repeat center center/cover;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.bigContainer .containerForm .loketImage {
  flex: 1;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 720px) {
  .bigContainer {
    background: url("../../../images//loket.png") no-repeat center center/cover;
    padding: 1rem;
  }
  .bigContainer .containerForm {
    width: 100%;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    border: 2px solid black;
    padding: 2rem;
  }
  .bigContainer .containerForm .formLogin {
    width: 100%;
    height: 100%;
  }
  .bigContainer .containerForm .loketImage {
    display: none;
  }
}