.nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #470202;
    padding: 1rem;
    color: #F8BD00;
    font-size: 1.2rem;
    font-family: 'Bitcount Grid Double', sans-serif;
    font-weight: bold;
    z-index: 1000;

    .logo {
        height: 50px;

        img {
            width: 100%;
            height: 100%
        }
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        width: 100%;

        .close {
            display: none;
        }

        .links {
            img {
                display: none;
            }
        }

        
    }
    .username {
        .loginButton {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 720px) {

    .nav {
        padding: 1rem;
    }

    .navLinks {
        // display: none;
        flex-direction: column;
        gap: 0 !important;
        width: 100%;
        height: fit-content;
        background-color: #470202;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        border-radius: 20px 20px 0 0;
        transition: all 0.5s ease;
        transform: translateY(110%);

        .close {
            display: block !important;
        }

        .links {
            margin: 1rem 0;
            position: relative;
            width: 100%;

            a {
                display: block;
            }

            img {
                position: absolute;
                display: block !important;
                top: 50%;
                right: 6px;
                transform: translateY(-50%);
            }
        }

        &.show {
            // display: block;
            transform: translateY(0);
        }

        .burgerIcon {
            display: block;
        }

        .loginButton {
            width: 100%;
            margin: 1rem 0;
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 75px;
            background-color: white;
            border-radius: 10px;
        }
    }


}