.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e161686;
    padding: 1rem 3rem;
    color: #F8BD00;
    font-size: 1.2rem;
    font-family: 'Bitcount Grid Double', sans-serif;
    font-weight: bold;

    .logo {
        height: 50px;
        img{
            width: 100%;
            height: 100%
        }
    }

    .navLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }
}