.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(142, 22, 22, 0.5254901961);
  padding: 1rem 3rem;
  color: #F8BD00;
  font-size: 1.2rem;
  font-family: "Bitcount Grid Double", sans-serif;
  font-weight: bold;
}
.nav .logo {
  height: 50px;
}
.nav .logo img {
  width: 100%;
  height: 100%;
}
.nav .navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}