.aboutPageSection {
    background-color: rgb(0, 0, 0);

    .aboutTextContainer {
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
        justify-content: center;
        height: 100%;

        &.left {
            justify-content: flex-start;
        }

        .aboutText {
            display: flex;
            gap: 1rem;
            background-color: #ffe9b7;
            padding: 1rem;
            width: 700px;
            text-align: justify;
            border-radius: 10px;
            min-height: 177px;

            &:not(:last-child) {
                margin-bottom: 5rem;
            }

            &.left {
                margin-right: auto;

                .textBox {
                    padding-right: 6rem;
                    margin-left: auto;

                    .imageContainer {
                        right: -80px;
                        left: unset;
                    }
                }
            }

            &.right {
                margin-left: auto;

                .textBox {
                    padding-left: 6rem;
                    margin-right: auto;

                    .imageContainer {
                        left: -80px;
                        right: unset;
                    }
                }
            }

            .textBox {
                position: relative;
                width: 75%;
                color: #470202;

                h1 {
                    color: #f8bd00;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                    text-align: center;
                }

                .imageContainer {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 2px solid white;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 720px) {
    .aboutPageSection {
        .aboutTextContainer {
            .aboutText {
                width: 100%;

                .textBox {
                    padding: 0 !important;
                    margin: 0 !important;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    min-height: auto;
                    gap: 1rem;

                    p {
                        order: 2;
                    }

                    .imageContainer {
                        width: 100%;
                        position: static;
                        order: 1;
                        transform: none;
                    }
                }
            }
        }
    }

}