.aboutPageSection {
    background-color: rgb(0, 0, 0);
    height: 100vh;

    .aboutTextContainer {
        padding: 1rem;
        text-align: center;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
        justify-content: center;
        height: 100%;

        &.left {
            justify-content: flex-start;
        }

        .aboutText {
            display: flex;
            gap: 1rem;
            background-color: #ffe9b7;
            padding: 1rem;
            width: 700px;
            text-align: justify;
            border-radius: 10px;

            &:not(:last-child) {
                margin-bottom: 5rem;
            }

            &.left {
                margin-right: auto;

                .textBox {
                    padding-right: 6rem;
                    margin-left: auto;

                    .imageContainer {
                        right: -80px;
                        left: unset;
                    }
                }
            }

            &.right {
                margin-left: auto;

                .textBox {
                    padding-left: 6rem;
                    margin-right: auto;

                    .imageContainer {
                        left: -80px;
                        right: unset;
                    }
                }
            }

            .textBox {
                position: relative;
                width: 75%;
                color: #470202;

                h1 {
                    color: #f8bd00;
                    font-weight: bold;
                }

                span {
                    font-size: 14px;
                    text-align: center;
                }

                .imageContainer {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 2px solid white;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}