.bigContainer {
    padding: 1rem;
    padding-top: 6rem;
    min-height: 100vh;

    .contentContainer {
        background-color: #8E1616;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 50%;
        border-radius: 10px;

        .content {
            padding: 1rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .imageContainer {
                width: 200px;
                object-fit: fill;

                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                }
            }

            .contentDetail {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;

                .submitButton {
                    background-color: #E4C479;
                    color: black;
                    border-radius: 12px;
                    border: none;
                    padding: 10px 7px;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
    }
}