.bigContainer {
  padding: 1rem;
}
.bigContainer .contentContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.bigContainer .contentContainer .primaryInfoContainer {
  display: flex;
  gap: 2rem;
}
.bigContainer .contentContainer .primaryInfoContainer .primaryInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}
.bigContainer .contentContainer .primaryInfoContainer .primaryInfo .ticketName {
  font-size: 20px;
  font-weight: bold;
}
.bigContainer .contentContainer .primaryInfoContainer .primaryInfo .ticketName .ticketVendor {
  font-size: 15px;
  font-weight: normal;
}
.bigContainer .contentContainer .primaryInfoContainer .primaryInfo .label .value {
  margin-left: 0.5rem;
  font-weight: bold;
}
.bigContainer .contentContainer .primaryInfoContainer .primaryInfo .submitButton {
  background-color: #E4C479;
  color: black;
  border-radius: 12px;
  border: none;
  padding: 10px 7px;
  cursor: pointer;
  width: 100%;
}
.bigContainer .contentContainer .primaryInfoContainer .imageContainer {
  width: 200px;
  height: 300px;
  flex: 2;
}
.bigContainer .contentContainer .primaryInfoContainer .imageContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bigContainer .contentContainer .contentDetailContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.bigContainer .contentContainer .contentDetailContainer .sectionInfo {
  width: 100%;
}
.bigContainer .contentContainer .contentDetailContainer .sectionInfo hr {
  margin-top: 0.5rem;
}
.bigContainer .contentContainer .contentDetailContainer .description {
  background-color: #470202;
  padding: 1rem;
  height: 100%;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
}
.bigContainer .contentContainer .contentDetailContainer .description span {
  line-height: 1.5rem;
}

@media screen and (max-width: 720px) {
  .bigContainer {
    padding: 1.5rem;
  }
  .bigContainer .contentContainer {
    padding: 0;
  }
  .bigContainer .contentContainer .primaryInfoContainer {
    flex-direction: column;
  }
  .bigContainer .contentContainer .primaryInfoContainer .imageContainer {
    width: 100%;
    flex: auto;
  }
  .bigContainer .contentContainer .primaryInfoContainer .primaryInfo {
    gap: 1rem;
  }
}