.bigContainer {
    padding: 1rem;


    .contentContainer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        .primaryInfoContainer {
            display: flex;
            gap: 2rem;

            .primaryInfo {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                flex: 1;

                .ticketName {
                    font-size: 20px;
                    font-weight: bold;

                    .ticketVendor {
                        font-size: 15px;
                        font-weight: normal;
                    }
                }

                .label {
                    .value {
                        margin-left: .5rem;
                        font-weight: bold;
                    }
                }

                .submitButton {
                    background-color: #E4C479;
                    color: black;
                    border-radius: 12px;
                    border: none;
                    padding: 10px 7px;
                    cursor: pointer;
                    width: 100%;
                }
            }

            .imageContainer {
                width: 200px;
                height: 300px;
                flex: 2;

                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
        }

        .contentDetailContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            .sectionInfo {
                width: 100%;

                hr {
                    margin-top: .5rem;
                }
            }

            .description {
                background-color: #470202;
                padding: 1rem;
                height: 100%;
                width: 100%;
                min-height: 300px;
                border-radius: 10px;

                span {
                    line-height: 1.5rem;
                }
            }
        }

    }
}

@media screen and (max-width:720px) {
    .bigContainer {
        padding: 1.5rem;

        .contentContainer {
            padding: 0;

            .primaryInfoContainer {
                flex-direction: column;

                .imageContainer {
                    width: 100%;
                    flex: auto;
                }

                .primaryInfo {
                    gap: 1rem;
                }
            }
        }
    }
}