@use "../variable" as *;

@keyframes loading {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}


.loadingScreenContainer {
    background-color: $darkRed;
    min-height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .loadingContent {
        text-align: center;

        p {
            margin: 1rem 0;
            font-weight: bold;
            font-size: large;
        }

        .barLoading {
            height: 5px;
            width: 100%;
            background-color: yellow;
            border-radius: 3px;
            animation-name: loading;
            animation-duration: 5s;
            animation-timing-function: linear;
        }
    }
}

@media screen and (max-width: 720px) {
    .loadingScreenContainer {
        .loadingContent {
            padding: 1rem;

            .imageContainer {
                width: 250px;
                border-radius: 100%;
                overflow: hidden;
                height: 250px;

                img {
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }

        }
    }
}