@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.loadingScreenContainer {
  background-color: #470202;
  min-height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loadingScreenContainer .loadingContent {
  text-align: center;
}
.loadingScreenContainer .loadingContent p {
  margin: 1rem 0;
  font-weight: bold;
  font-size: large;
}
.loadingScreenContainer .loadingContent .barLoading {
  height: 5px;
  width: 100%;
  background-color: yellow;
  border-radius: 3px;
  animation-name: loading;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@media screen and (max-width: 720px) {
  .loadingScreenContainer .loadingContent {
    padding: 1rem;
  }
  .loadingScreenContainer .loadingContent .imageContainer {
    width: 250px;
    border-radius: 100%;
    overflow: hidden;
    height: 250px;
  }
  .loadingScreenContainer .loadingContent .imageContainer img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}