.sectionProfile {
  padding: 1rem;
  height: 100vh;
}
.sectionProfile .profileContainer {
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
  width: 100%;
  font-size: 15px;
}
.sectionProfile .profileContainer .infoLeftContainer {
  background-color: #470202;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  color: white;
  border-radius: 10px;
  height: -webkit-fill-available;
}
.sectionProfile .profileContainer .infoLeftContainer span {
  cursor: pointer;
}
.sectionProfile .profileContainer .infoRightContainer {
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #EDCB7D;
  border-radius: 10px;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .title {
  font-weight: 700;
  font-size: 20px;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit {
  font-family: inherit;
  font-size: 20px;
  background: #470202;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit span {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit img {
  width: 24px;
  height: 24px;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit:hover .imgWrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit:hover {
  background-color: #740e0e;
}
.sectionProfile .profileContainer .infoRightContainer .topInformation .buttonEdit:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translatex(0.2em);
  }
  to {
    transform: translatex(-0.2em);
  }
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod .paymentMethod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  min-width: 130px;
  border-radius: 20px;
  border: 2px solid #470202;
  transition: 0.5s ease-out;
  overflow: visible;
  color: #470202;
  cursor: pointer;
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod .paymentMethod img {
  width: 50px;
  height: 50px;
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod .paymentMethod span {
  font-size: 1rem;
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod .paymentMethod:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #470202;
  color: #FFFFFF;
}
.sectionProfile .profileContainer .infoRightContainer .categoryPaymentMethod .paymentMethod.activePayment {
  background-color: #2E0000;
  color: #FFFFFF;
  transform: scale(0.97);
}
.sectionProfile .profileContainer .infoRightContainer .imageUserContainer {
  width: 200px;
  height: 200px;
  position: relative;
}
.sectionProfile .profileContainer .infoRightContainer .imageUserContainer .editImg {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.sectionProfile .profileContainer .infoRightContainer .imageUserContainer .profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionProfile .profileContainer .infoRightContainer .imageUserContainer:hover .editImg {
  display: block;
  z-index: 10;
}
.sectionProfile .profileContainer .infoRightContainer .imageUserContainer:hover .profileImage {
  filter: brightness(55%) blur(2px);
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser {
  width: 100%;
  height: 100%;
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser .infoUserForm .groupInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser .infoUserForm .inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser .infoUserForm .inputForm input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #ebebeb;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  color: black;
  width: 100%;
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser .infoUserForm .inputForm input:focus {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696;
}
.sectionProfile .profileContainer .infoRightContainer .mainInfoUser .infoUserForm .inputForm input:disabled {
  background-color: rgb(185, 185, 185);
}
.sectionProfile .profileContainer .infoRightContainer .ticketContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 720px) {
  .sectionProfile {
    height: 100%;
  }
  .sectionProfile .profileContainer {
    position: relative;
    padding: 0;
    transform: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }
  .sectionProfile .profileContainer .infoLeftContainer {
    flex-direction: row;
    margin-bottom: 1rem;
  }
}