.sectionProfile {
    padding: 1rem;
    height: 100vh;

    .profileContainer {
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: flex-start;
        color: black;
        width: 100%;
        font-size: 15px;

        .infoLeftContainer {
            background-color: #470202;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
            color: white;
            border-radius: 10px;
            height: -webkit-fill-available;

            span {
                cursor: pointer;
            }
        }

        .infoRightContainer {
            padding: 2rem;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            background-color: #EDCB7D;
            border-radius: 10px;

            .topInformation {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-weight: 700;
                    font-size: 20px;
                }

                .buttonEdit {
                    font-family: inherit;
                    font-size: 20px;
                    background: #470202;
                    color: white;
                    padding: 0.7em 1em;
                    padding-left: 0.9em;
                    display: flex;
                    align-items: center;
                    border: none;
                    border-radius: 16px;
                    overflow: hidden;
                    transition: all 0.2s;
                    cursor: pointer;

                    span {
                        font-size: 15px;
                        font-weight: 600;
                        display: block;
                        margin-left: 0.3em;
                        transition: all 0.3s ease-in-out;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        display: block;
                        transform-origin: center center;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover .imgWrapper {
                        animation: fly-1 0.6s ease-in-out infinite alternate;
                    }

                    &:hover {
                        background-color: #740e0e;
                    }

                    &:active {
                        transform: scale(0.95);
                    }

                    @keyframes fly-1 {
                        from {
                            transform: translatex(0.2em);
                        }

                        to {
                            transform: translatex(-0.2em);
                        }

                    }
                }
            }

            .categoryPaymentMethod {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                .paymentMethod {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;
                    min-width: 130px;
                    border-radius: 20px;
                    border: 2px solid #470202;
                    transition: 0.5s ease-out;
                    overflow: visible;
                    color: #470202;
                    cursor: pointer;

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    span {
                        font-size: 1rem;
                    }

                    &:hover {
                        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
                        background-color: #470202;
                        color: #FFFFFF;
                    }

                    &.activePayment {
                        background-color: #2E0000;
                        color: #FFFFFF;
                        transform: scale(0.97);
                    }
                }
            }


            .imageUserContainer {
                width: 200px;
                height: 200px;
                position: relative;

                .editImg {
                    display: none;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    right: 20px;
                    bottom: 30px;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }

                .profileImage {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    cursor: pointer;
                    object-fit: cover;

                }

                &:hover .editImg {
                    display: block;
                    z-index: 10;
                }

                &:hover .profileImage {
                    filter: brightness(55%) blur(2px);
                }
            }

            .mainInfoUser {
                width: 100%;
                height: 100%;

                .infoUserForm {
                    .groupInput {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        margin-bottom: 1rem;
                    }

                    .inputForm {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: .5rem;
                        width: 100%;
                        margin-bottom: 1rem;

                        input {
                            border: none;
                            outline: none;
                            border-radius: 10px;
                            padding: .5rem;
                            background-color: #ebebeb;
                            box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
                            transition: 300ms ease-in-out;
                            color: black;
                            width: 100%;

                            &:focus {
                                background-color: #ffffff;
                                transform: scale(1.05);
                                box-shadow: 13px 13px 100px #969696;
                            }

                            &:disabled {
                                background-color: rgb(185 185 185);
                            }
                        }
                    }
                }
            }

            .ticketContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }

        }
    }
}

@media screen and (max-width:720px) {
    .sectionProfile {
        height: 100%;

        .profileContainer {
            position: relative;
            padding: 0;
            transform: none;
            top: 0;
            left: 0;
            display: block;
            width: 100%;

            .infoLeftContainer {
                flex-direction: row;
                margin-bottom: 1rem;
            }
        }
    }
}