.footer {
    background: #470202;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .footerLinksContainer {
        display: flex;
        gap: 5rem;

        .footerLinks {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        gap: 2rem;

        .footerContainer {
            width: 100%;
            align-items: center;
            flex-direction: row;
        }

        .footerLinksContainer {
            gap: 2rem;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}