.footer {
  background: #470202;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer .footerLinksContainer {
  display: flex;
  gap: 5rem;
}
.footer .footerLinksContainer .footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .footer .footerContainer {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }
  .footer .footerLinksContainer {
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }
}