.alertContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8E1616;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    min-width: 350px;

    .imageContainer{
        img {
            width: 100%;
            border-radius: 10px;
        }
    }


    p {
        font-weight: bold;
    }

    .submitButton {
        background-color: #E4C479;
        color: black;
        border-radius: 12px;
        border: none;
        padding: 10px 7px;
        cursor: pointer;
        width: 100%;
    }
}